language: python
python:
  - "3.8"
matrix:
  include:
    - python: 3.8
      dist: xenial
      sudo: true
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: #nosetests
  - pytest # for Python versions 3.5 and below